//@use 'abstracts/variables';
$primary-color: #369;
$secondary-color: #A0D9E9;
$font-stack: 'Arial', sans-serif;

@use 'components/component';
@use 'components/slider.component';
@use 'components/button.component';
@use 'components/mat-icon.component';
@use '@angular/material' as mat;

html {
  @include mat.core();
  @include mat.theme(( color: ( theme-type: light, primary: mat.$azure-palette, tertiary: mat.$blue-palette, ), typography: Roboto, density: 0, ));
}

.background-pane {
  background-color: #5098C0;
  padding-bottom: 20px;
  min-height: 924px;
}

.content {
  background-color: #AEF;
  padding-bottom: 0px;
  height:614px;
}

mat-card-content {
  background-color: #4088B0;
  border-radius: 15px;
}

h1 {
  padding: 10px 20px 0px 20px;
  color: $primary-color;
}
h2 {
  padding: 5px 20px 0px 20px;
  color: $primary-color;
}
h3 {
  padding: 2px 20px 0px 20px;
  color: $primary-color;
}

p {
  padding: 1px 20px 0px 20px;
  color: $primary-color;
}

mat-card-content td {
  color: aliceblue;
}
